#background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
  object-fit: cover;
  z-index:"-1" ; /* important to see pic */
  background-color: #2a5555;
  opacity: 0.7;
}
.d-flex {
  justify-content: center;
}
.space {
  margin-right: 10%;
}

#main-container{
  position: relative;
  place-items: center center;
  align-items: center;
  /* box-sizing: border-box;
  background-color: black;
  opacity: 0.7;
  overflow: hidden; */
}
#sign-in-from{max-width: 300px;}
/* .Form-control:focus { z-index: 7 }  */
.Logo{ 
  width: 137px;
  height: 137px;
  margin: 7%;
}
.facebook-icon, .google-icon{
  background-color: white;
  justify-content: space-evenly;
  border-radius: 50%;
  display: flex;
 }
 .forgot-password{  float: right;}